@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif+Caption:ital@0;1&display=swap');
/* font-family: 'PT Serif Caption', serif; */ /* title */
@font-face {
  font-family: "The Scientist";
  src: url("./fonts/TheScientistRegular.woff2") format("woff2"),
      url("./fonts/TheScientistRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
/* The Scientist */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body { 
  font-family: 'Nunito', sans-serif;
  @apply w-full m-auto text-text-cl bg-[#ffffff] max-w-container-max-width text-base; 
}
.container {
  @apply w-full mx-auto px-6 max-w-container-width;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
/* .banner__overlay--down {
  background-color: rgba(0, 0, 0, 0.7);
}
  
.banner__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to left,
    transparent 10%,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 1)
  );
} */
