@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@font-face {
    font-family: "The Scientist";
    src: url("../fonts/TheScientistRegular.woff2") format("woff2"),
        url("../fonts/TheScientistRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@-ms-viewport {
    width: device-width;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
html,
body {
    width: 100%;
    max-width: $container-max-width;
    margin: auto;
    @include text($fz-text, $font-main, $lh-text, $text-cl, none);
    background: $white-cl;
    behavior: smooth;
    position: relative;
    @include customscroll();
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    .no-gap > .col,
    .no-gap > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    @media (min-width: $xxs-min) {
        .container {
            max-width: 540px;
        }
    }
    @media (min-width: $xs-min) {
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: $sm-min) {
        .container {
            max-width: 960px;
        }
    }
    @media (min-width: $md-min) {
        .container {
            max-width: $container-width;
        }
    }

    .mainwrapper {
        width: 100%;
        margin: auto;
    }
    @include lg {
        // CSS responsive large desktop
    }
    @include md {
        // CSS responsive desktop
    }
    @include sm {
        // CSS responsive tablet
    }
    @include xs {
        // CSS responsive mobile
    }
    @include xxs {
        // CSS responsive small mobile
    }
}
